@using Apex.Service.Translations
@model Apex.Service.ViewModels.Account.LogInDto
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-xl-4 my-5">
        <div class="card">
            <div class="card-header">@Str.logIn</div>
            <div class="card-body">
                <div>
                    @using (Ajax.BeginForm("LoginConfirm", "Account", null,
                        new AjaxOptions { HttpMethod = "POST", OnComplete = "loginComplete" },
                        new { autocomplete = "off" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                        <div class="control-group">
                            @Html.TextBoxFor(x => x.Mobile, new { @class = "txt", required = "", title = "", type = "tel" })
                            @Html.LabelFor(x => x.Mobile)
                            @Html.ValidationMessageFor(x => x.Mobile)
                        </div>
                        <div class="control-group">
                            @Html.PasswordFor(x => x.Password, new { @class = "txt", required = "", title = "" })
                            @Html.LabelFor(x => x.Password)
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                        <button class="btn btn-success btn-block bg-tools">@Str.logIn</button>
                    }
                </div>
                <p class="small mt-4 mb-0">
                    <span>@($"{Str.notMember}{Str.qm}") </span><a class="" href="@Url.RouteUrl("Register")">@Str.register2</a>
                </p>
                <!-- <p class="small mt-4 mb-0">
                  <span>Forget your password? </span
                  ><a class="" href="LogIn.html">Log In</a>
                </p> -->
            </div>
        </div>
    </div>
</div>

@section script {
    @Html.Partial("_Validation")
    <script src="~/Areas/Theme1/Scripts/Build/account/login.js"></script>
}